@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap');
@import 'tailwindcss';
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import 'swiper/css/scrollbar';
@import 'swiper/css/thumbs';

@tailwind utilities;

@theme {
  --font-DM-Serif: 'DM Serif Text', serif;
  --font-Bodina-Moda-SC: 'Bodina Moda SC', serif;
  --font-Baskerville: Baskervville, serif;
  --font-Lora: Lora, serif;
  --font-MonteCarlo: 'MonteCarlo', cursive;

  --breakpoint-xxs: 320px;
  --breakpoint-xs: 360px;
  --breakpoint-xsm: 480px;
}

p,
a,
span {
  @apply font-Lora tracking-wide;
}

.swiper-slide-thumb-active img {
  @apply opacity-100 border-2 border-amber-400;
}
