---
export const prerender = false;
import "../styles/global.css";
import Footer from '@components/Footer';
import { getImage } from 'astro:assets';
import telfordsLogo from '@assets/Telfords-Character-Logo.png';
import SiteBanner from '@components/SiteBanner'
import { getSiteBanner } from '@src/lib/queries'
import BannerMinimized from '@components/SiteBanner/BannerMinimized'

const logoImage = await getImage({ src: telfordsLogo });

const bannerData = await getSiteBanner()

const now = new Date()
const bannerStartDate = bannerData.startDate ? new Date(bannerData.startDate) : null
const bannerEndDate = bannerData.endDate ? new Date(bannerData.endDate) : null

const isWithinDateRange =
  (!bannerStartDate || now >= bannerStartDate) && (!bannerEndDate || now <= bannerEndDate)

const bannerisActive = bannerData.active && isWithinDateRange

const bannerCookie = Astro.cookies.get('siteBanner');
const bannerDisplay = bannerCookie ? bannerCookie.value === 'true' : true;
---
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Telford's Pipe & Cigar</title>
    <link rel="icon" type="image/x-icon" href="/favicon.jpg">
  </head>
  <body class="w-full">
    {
      bannerisActive && bannerDisplay ? <SiteBanner initialBannerStatus={bannerDisplay} bannerData={bannerData} client:load /> : null
    }
    {
      !bannerDisplay && bannerisActive && <BannerMinimized bannerData={bannerData} client:load />
    }
    <main class={`${Astro.url.pathname === "/" ? '' : 'pt-16 bg-cream'}`}>
      <slot {...({ 'set:props': { logoImage } })} />
      <Footer client:load  />
    </main>
  </body>
</html>
