---
import "../styles/global.css";
import NavBar from '@components/NavBar';
import Footer from '@components/Footer';
---
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Telford's Pipe & Cigar</title>
    <link rel="icon" type="image/x-icon" href="/favicon.jpg">
  </head>
  <body class="w-full">
    <NavBar client:load homePage={Astro.url.pathname === "/"} />
    <main class={`${Astro.url.pathname === "/" ? '' : 'pt-16'}`}>
      <slot />
      <Footer />
    </main>
  </body>
</html>